<h1>Admin dashboard</h1>

<p><%= link_to "Kudos", admins_kudos_path %></p>
<p><%= link_to "Employees", admins_employees_path %></p>
<p><%= link_to "Company values", admins_company_values_path %></p>
<p><%= link_to "Rewards", admins_rewards_path %></p>
<p><%= link_to "Employees rewards list", admins_orders_path %></p>
