<h1>Rewards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @reward.each do |reward| %>
      <tr>
        <td><%=  reward.title %></td>
        <td><%=  reward.price %></td>
        <td><%= link_to 'Show', reward_path(reward) %></td>
        <td><%= link_to 'Buy', order_path(reward_id: reward.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', rewards_path %>
