<%= form_with(model: kudo) do |form| %>
  <% if kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
        <% kudo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, "Content:" %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :receiver_id, "Reciver:" %>
    <%= form.collection_select :receiver_id, Employee.where.not(email: current_employee.email), :id, :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
