<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Purchase time</th>
      <th>Employee email</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%=  order.reward.title %></td>
        <td><%=  order.reward.description %></td>
        <td><%=  order.amount %></td>
        <td><%=  order.created_at %></td>
        <td><%=  order.employee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
