<!DOCTYPE html>
<html>
  <head>
    <title>Employee Recognition Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h2><%= link_to 'Company Logo', root_path %></h2>

    <nav>
      <h4>Navigation</h4>
      <ul>
        <% if employee_signed_in? %>
          <li><%="The number of available kudos is #{current_employee.number_of_available_kudos}"%></li>
          <li><%="The number of available points is #{current_employee.available_points}"%></li>
          <li><%= link_to 'Rewards', rewards_path %></li>
          <li><%= link_to 'My rewards', my_orders_path %></li>
          <li><%= link_to 'Log out', destroy_employee_session_path, method: :delete %></li>
        <% elsif admin_signed_in?%>
          <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_employee_session_path %></li>
          <li><%= link_to 'Sign up', new_employee_registration_path %></li>
        <%end%>
    </nav>

    <%= yield %>
  </body>
</html>
